<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="warn" internalLogFile="internalLog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <!-- the targets to write to -->
  <targets>
    <!-- write to file -->
    <target xsi:type="File" name="alldata" fileName="log/${shortdate}.log" layout="${longdate} - ${uppercase:${level}} - ${message} ${exception:format=tostring}" />
    </targets>
  <rules>
    <logger name="GICTask.*" minlevel="Trace" writeTo="alldata" />
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
  </rules>
</nlog>
